* {
  margin: 0;
  padding: 0;
  font-family: "Prompt", sans-serif;
}

html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 250px;
}

body {
  background-color: black;
  color: rgb(255, 194, 64);
  margin-top: 120px; /* Adjust for the fixed header */
  margin-bottom: 40px; /* Adjust for the fixed footer */
}
.cr{
  color: rgb(255, 194, 64);
}

.title {
  margin: 20px;
  font-size: 7vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 120px;
  background-color: black;
  color: rgb(255, 194, 64);
}

nav ul {
  display: flex;
  margin: 30px;
}

nav ul li {
  list-style: none;
  padding: 20px;
  text-align: right;
}

.logo {
  padding: 20px 0 0 40px;
  font-weight: bolder;
  font-size: 50px;
  color: rgb(1, 255, 225);
}

.logo:hover {
  color: rgb(255, 170, 0);
}

nav ul li a {
  text-decoration: none;
  
  font-size: large;
  color: rgb(1, 255, 225);
  cursor: pointer;
}

nav ul li a:hover {
  color: rgb(255, 194, 64);
}

.left {
  margin: 80px 0;
  padding: 20px;
  font-size: 50px;  
  color: cyan;
}
.hi {
  display: flex;
  justify-content: space-around;
  background-color: rgb(26, 25, 25);
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

}

.nd {
  width: 400px;
}

section {
  text-align: center;
}

#abouteducation ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.sec3 {
  display: flex;
  justify-content: space-around;
}

.left1 {
  padding: 20px;
  text-align: left;
  width: 30%;
  font-size: 20px;
}

div.right1 {
  padding: 20px;
  text-align: left;
  width: 30%;
  font-size: 20px;
}

.right2 {
  display: flex;
  font-size: 50px;
  justify-content: center;
}

.right2 i {
  text-decoration: none;
  cursor: pointer;
  color: rgb(1, 255, 225);
}

.right2 i:hover {
  color: #fa0064;
}

.right2 a {
  padding: 20px;
  transition: transform 0.5s ease-in-out;
}

.right2 a:hover {
  transform: scale(1.2);
}

.con {
  color: rgb(2, 253, 194);
  font-size: 18px;
  text-align: center;
  padding: 40px;
}

#navop li a {
  position: relative;
  text-decoration: none;
}

#navop li a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ff0090;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

#navop li a:hover::after {
  transform: scaleX(1);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 40px;
  background-color: black;
  color: rgb(255, 194, 64);
  text-align: center;
}

@media screen and (min-width: 212px) and (max-width: 1024px) {
  .title {
    margin: 30px;
    font-size: 2vh;
  }

  nav ul {
    display: flex;
    margin: 60px 0;
  }

  nav ul li {
    font-size: 10px;
    padding: 15px;
  }

  .logo {
    padding: 20px 0;
    font-weight: bolder;
    font-size: 20px;
    color: #e9abfe;
  }

  .left {
    margin: 100px 0;
    padding: 20px;
    font-size: 20px;
  }

  .hi {
    display: block;
    justify-content: space-around;
  }

  .nd {
    width: 300px;
  }

  section {
    text-align: center;
  }

  #abouteducation ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }

  .sec3 {
    display: flex;
    justify-content: space-around;
  }

  .left1 {
    padding: 20px;
    text-align: left;
    width: 30%;
    font-size: 10px;
  }

  div.right1 {
    padding: 20px;
    text-align: left;
    width: 30%;
    font-size: 10px;
  }

  .right2 {
    display: flex;
    font-size: 30px;
    justify-content: center;
  }

  .right2 i {
    text-decoration: none;
    cursor: pointer;
    color: cyan;
  }

  .right2 i:hover {
    color: #fa0064;
  }

  .right2 a {
    padding: 20px;
    transition: transform 0.5s ease-in-out;
  }

  .right2 a:hover {
    transform: scale(1.2);
  }

  .con {
    color: rgb(241, 174, 249);
    font-size: 9px;
    text-align: center;
    padding: 40px;
  }

  #navop li a {
    position: relative;
    text-decoration: none;
  }

  #navop li a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ff0090;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  #navop li a:hover::after {
    transform: scaleX(1);
  }

  footer {
    font-size: 10px;
    height: 80px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
